html {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

p {
    line-height: 150%;
}

code {
    background: #cccccc;
    font-size: 16px;
    padding: 2px;
    text-align: left;
    border-radius: 3px;
    opacity: 0.8;
}

* {
    box-sizing: border-box;
}

#content li {
    margin-bottom: 6px;
}

.youtube {
    text-align: center;
}

.done {
    color: grey;
}

.current {
    margin-top: 10px;
}

.de-emphasize {
    background-color: lightgrey;
    font-size: 0.5em;
    padding: 10px;
}

#container {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5 {
    color: blue;
}

h1 {
    font-weight: 600;
}

hr {
    font: 4px;
    padding: 0;
    border: none;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

header {
    font-size: 2em;
    padding: 10px 0;
    border-bottom: 2px solid black;
    position: fixed;
    width: 960px;
    top: 0;
    background-color: white;
    z-index: 1;
}

#content,
#back {
    margin-left: 270px;
    margin-top: 75px;
}

section {
    border-bottom: medium double #03A9F4;
    font-family: 'Raleway', sans-serif;
}

nav {
    position: fixed;
    width: 250px;
}

nav li {
    list-style-type: none;
}

.panel-collapse {
    height: 280px;
    overflow-y: scroll;
}

code.hljs {
    padding: 15px;
}

secret {
    display: none;
}

hint text {
    border-style: solid;
    border-width: 1px;
    padding: 6px;
    background-color: #DDD;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

a.tooltip,
a.popup {
    position: relative;
    color: brown;
}

a.tooltip::before {
    content: attr(data-tip);
    width: 300px;
    position: absolute;
    display: none;
    z-index: 999;
    top: 25px;
    left: -50%;
    background: #333;
    color: #e0e0e0;
    padding: 15px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

a.tooltip:hover::before {
    display: inline-block;
    opacity: 1;
}

.icon {
    display: inline-block;
    transform: scaleX(-1);
}

img {
    display: block;
    margin: 0 auto;
    max-height: 340px;
    width: auto;
}

img.full {
    width: 680px;
    max-height: inherit;
}

.mfp-container {
    height: calc(100% - 30px);
    max-width: 960px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    width: auto;
}

.mfp-container > * {
    background-color: #FFF;
    padding: 10px;
}

.mfp-close {
    display: none !important;
}

alert {
    display: block;
    background: lightcoral;
    padding: 10px;
    border-left: 4px solid red;
    margin-bottom: 10px;
}

yes {
    display: block;
    background: lightgreen;
    padding: 10px;
    border-left: 4px solid green;
    margin-bottom: 10px;
}

warn {
    display: block;
    background: lightyellow;
    padding: 10px;
    border-left: 4px solid yellow;
    margin-bottom: 10px;
}

.code {
    list-style-type: none;
}

.code li {
    margin-bottom: 4px;
}

.indent {
    margin-left: 25px;
}

.hl {
    background-color: #002b36;
    color: #DDD;
    padding: 1px 3px 3px 3px;
}

summary {
    background: lightgrey;
    border-left: 4px solid grey;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
}

summary li {
    line-height: 1.4em;
}

.b {
    display: inline-block;
}

.student_code {
    padding: 0 30px 0 20px;
    margin: 0 0 20px 10px;
}

.student_code input[type=text] {
    width: 200px;
}

#name_form {
    float: right;
    font-size: 0.8em;
    font-weight: normal;
}

#name_form input {
    margin: 3px
}

.filename {
    color: brown;
}

.exercises {
    display: none;
}

#video iframe {
    height: 400px;
    width: 700px;
}

footer {
    text-align: center;
    font-size: 0.5em;
}

/*
feedback button intergration
evrything below affects the style of the feedback modal
*/

.btn {
    background-color: deepskyblue;
    color: white;
}

#feedback_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#feedback_form {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 5%;
    border: 1px solid #888;
    width: 60%;
}

#close_feedback:hover,
#close_feedback:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*open button*/

#open_feedback {
    position: fixed;
    top: 2%;
    left: 90%;
}
.hidden{
    display: none
}

#output{
    color: green;
    font-size: 150px;
}